<!DOCTYPE html>
<html>
<head>
<link rel="shortcut icon" type="logo" href="img/TheWalkingDead.ico">
  <title>The Walking Dead</title>
  <style>


  body{
    background:url(img/Season2.jpg) 
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: top-center;
    background-attachment:fixed; : 
</style>
<body>
<audio autoplay>
<source src="mp3/TheWalkingDead.mp3 " type="audio/mpeg">
</audio>

  <link rel="stylesheet" type="text/css" href="css/Season2.css">
  
</head>
<body background="img/Season2.jpg"> 
<font size = "3" face="Hobo Std">
<body background="img/Season2.jpg"> 
<a href="/HOMEPAGE">HOMEPAGE</a>
<div id = "app"></div>
</font>
<script type="text/javascript" src ="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.90/css/materialize.min.js"></script>
<script type="text/javascript" src = "js/Season2.js"></script>


</body>
</html>
